@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-spartan: var(--font-league-spartan);
  --color-primary1: #9e7f66;
  --color-primary2: #111111;
  --color-secondary1: #17192b;
  --color-secondary2: #242b37;
  --color-secondary3: #5c6779
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-spartan);
}
